* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: auto;
    text-align: center;
}


.heading{
    margin: auto;
    margin-top: 50px;
    font-size: 4rem;
}

.players {
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: bold;
}

.player1 {
    display: inline;
    margin-right:75px;
    color:rgb(0, 15, 148);
}

.player2 {
    display: inline;
    margin-left:75px;
    color:rgb(10, 119, 0);    
}

.player-focus {
    font-weight: bolder;
    font-size:2rem;
    outline:none;
}


.grid {
    display:grid;
    /* background-color:rgb(104, 230, 198); */
    background-color:rgb(255, 255, 255);
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-top: 50px;
    width: 400px;
}


.item {
    border: 1px black solid;
    font-weight: bold;
    font-size: 8rem;
    height:133px;
    line-height: 110px;
    text-align: center;
}

.val-x {
    color:rgb(0, 15, 148);
}

.val-o {
    color:rgb(10, 119, 0);    
}

.val-default {
    color:rgb(85, 85, 85);
}

.val-win {
    color:rgb(161, 0, 0); 
}

.controls-restart {
    border: 1px black solid;
    font-size: 1.3rem;
    margin-top: 50px;
    width: 175px;
}

.controls-restart:hover {
    background-color:rgb(218, 218, 218);
}


.modal {
    display: none;
    background-color: rgba(255, 255, 255, 0.932);
    color:rgb(133, 0, 0);
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    padding-top: 150px;
    height:100%;
    top: 0;
    width: 100%;
}